/* || General setup */

html, body {
  margin: 0;
  padding: 0;
  background-color: #dde;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #1a1a1a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, input, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #1a1a1a;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* nav layout */

nav {
  background-color: #ffffff;
}

article, footer, .secondary {
  background-color: #ffffff;	
  padding: 10px 30px;
}

article {
  margin-right: 10px;
}

nav {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  justify-content: space-evenly;   
  margin-bottom: 10px;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav .search {
  display: flex;
  align-items: flex-end;
  flex:1;
  margin-left: 10px;
  margin-bottom: -0.5px;
}

.search input[type="search"] {
	height: 32px;
	width: 270px;
	font-size: 1.6rem;
	padding-left: 8px;
	margin-bottom: -0.5px;
    
}

.search input[type="submit"] {
	height: 32px;
	width: 90px;
	margin-left: 1rem;
	margin-bottom: -0.5px;
	background: #333;
	border: 0;
	color: white;
	font-size: 1.6rem;
  }
  
.search input::placeholder {
	color: #555;
	opacity: 1;
}

.visually-hidden {
	position: absolute;
	left: -9999px;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* styling content images and audio */

img, audio {
  display: block;
  margin: 0 auto;
}

audio {
  width: 500px;
}

/* Comments styling */

.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
  text-align: center;
  width: 150px;
  background: #333;
  border: 0;
  color: white;
  font-size: 1.6rem;
  line-height: 32px;
  padding: 5px;
}

.show-hide:focus {
	outline: 3px solid #ff0;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.comment-form input[type="submit"] {
	width: 30%;
	display: block;
	margin: 0 auto;
	background: #333;
	border: 0;
	color: white;
	font-size: 1.6rem;
	line-height: 32px;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}
